    <div class="container">
      <div class="row align-items-center justify-content-between"  style=" height: 10vh;">
        <div class="col-4 align-items-center" style="padding-bottom:12px; overflow: hidden; border-bottom: 1px solid black;">
          <button  class="btn btn-primary justify-content-start" (click)="displayPhaseSelection()"  style="padding-right:45px; padding-left:45px;">Create</button>
        </div>
        <form #formController="ngForm" class=" col-8 align-items-center justify-content-between" style="display: none;" id="sp">
          <div class="form-group style-form  align-items-center justify-content-between" style="padding:6px 0px; border: 1px solid black;">
            <label class="form-label" style="margin-right: 10px; margin-left: 15px;">SDLC Phase</label>
            
            <select class="form-control"
            [(ngModel)]="pickedPhase"
            [ngSwitch]="pickedPhase"
            #selectedPhaseInput="ngModel" name="phase"
            [class.is-invalid]="selectedPhaseInput.touched && !selectionValidity" (change)="selectedPhase(selectedPhaseInput.value)"
            style="width: 80%; margin-right: 10px;">
              <option value="default" selected>Select Phase</option>
              <option value="PC">Project Charter</option>
              <option value="RA">Requirement Analysis</option>
              <option value="SD">Software Design</option>
            </select>

          </div>
        </form>

      </div>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4" style="border: 5px solid black; ">
        <app-all-phases-overview></app-all-phases-overview>
      </div>
      <div class="col-8">
        <router-outlet></router-outlet>
      </div>
   </div>
  </div>